.animated-box {
    position: relative;
    border-radius: 4px;
    word-break: keep-all;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background-size: 300% 300%;
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
}

.animated-box.in:hover:after {
    background: linear-gradient(90deg, #4e54c8, #8f94fb);
    animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}

@keyframes frame-enter {
    0% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
        clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
    }
    75% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
    }
    100% {
        -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
    }
}

.card-white-space {
    &:before {
        width: 0px !important;
        height: 0px !important;
        background: transparent !important;
    }
}


.color-c {
    background-color: #A8B9CC;
}

.color-c::after {
    border-top-color: #A8B9CC;
}

.color-c::before {
    border-bottom-color: #A8B9CC;
}

.color-cpp {
    background-color: #00599C;
}

.color-cpp::after {
    border-top-color: #00599C;
}

.color-cpp::before {
    border-bottom-color: #00599C;
}

.color-csharp {
    background-color: #512BD4;
}

.color-csharp::after {
    border-top-color: #512BD4;
}

.color-csharp::before {
    border-bottom-color: #512BD4;
}


/* web */
.color-html {
    background-color: #E34F26;
}

.color-html::after {
    border-top-color: #E34F26;
}

.color-html::before {
    border-bottom-color: #E34F26;
}

.color-css {
    background-color: #1572B6;
}

.color-css::after {
    border-top-color: #1572B6;
}

.color-css::before {
    border-bottom-color: #1572B6;
}

.color-js {
    background-color: #F7DF1E;
}

.color-js::after {
    border-top-color: #F7DF1E;
}

.color-js::before {
    border-bottom-color: #F7DF1E;
}

.color-ts {
    background-color: #3178C6;
}

.color-ts::after {
    border-top-color: #3178C6;
}

.color-ts::before {
    border-bottom-color: #3178C6;
}


/* etc */
.color-git {
    background-color: #F05032;
}

.color-git::after {
    border-top-color: #F05032;
}

.color-git::before {
    border-bottom-color: #F05032;
}

.color-jira {
    background-color: #0052CC;
}

.color-jira::after {
    border-top-color: #0052CC;
}

.color-jira::before {
    border-bottom-color: #0052CC;
}


.color-docker {
    background-color: #2496ED;
}

.color-docker::after {
    border-top-color: #2496ED;
}

.color-docker::before {
    border-bottom-color: #2496ED;
}
